h1 {
  color: teal;
}

.accordion {
  list-style: none;
  padding: 0;
}

.accordion__item {
  margin-bottom: 20px;
}

.accordion__btn {
  cursor: pointer;
  padding: 15px;
  border: 2px solid teal;
  text-transform: uppercase;
  background-color: transparent;
  color: teal;
  font-weight: 800;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.accordion__text {
  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.open .accordion__text {
  max-height: 1000px;
  padding: 30px 0;
  border: 2px solid teal;
}

.open .accordion__btn {
  background-color: teal;
  color: #fff;
}
